<%- include('../partials/header') %>
<h1><%=title%></h1>
      <p>This webpage was made using Node.js and EJS in repl.it. You can use the nav bar to check out different pages</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>
<%- include('../partials/footer') %>